# Conceptos básicos de cadenas en Python
* En Python, las cadenas son inmutables. Es decir, no pueden cambiar. Esta propiedad del tipo de cadena puede ser sorprendente, porque Python no te da errores cuando alteras las cadenas.

In [59]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere.No sound can be heard on the Moon.'

Aunque puede parecer que hemos modificado la variable `fact`, una comprobación rápida del valor revela que el valor original no ha cambiado:
* Para modificar una cadena tendriamos que usar otra variable donde se devuelva el nuevo resultado

In [60]:
two_facts = fact + ' No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere. No sound can be heard on the Moon.'

* Como podemos ver la concatenación se ha realizado, debido a que nuestrea nueva variable concatenará(Unirá) la antigua cadena con la nueva.

## Acerca del uso de comillas
* Puedes incluir cadenas de Python entre comillas simples, dobles o triples. Aunque puedes usarlos indistintamente, es mejor usar un tipo de manera consistente dentro de un proyecto.

In [61]:
moon_radius = "The Moon has a radius of 1,080 miles"

* Sin embargo, cuando una cadena contiene palabras, números o caracteres especiales (una subcadena) }
<br> que también están entre comillas, debes usar un estilo diferente. por ejemplo si quieres usar comillas dobles, deberás
<br> Encerrar tu cadena de texto en comillas simples.
<br>__'The "near side" is the part of the Moon that faces the Earth'__

* Del mismo modo si hay comillas simples, lo encerramos en comillas dobles.
<br>__"We only see about 60% of the Moon's surface"__

* Si no se alternan comillas simples y dobles, el intérprete de Python puede provocar un error de sintaxis

## Texto multilínea
Para un Texto que quieras que tenga salto de linea puedes usar:
1. Utiliza un carácter de nueva línea ().\n
2. Utiliza comillas triples (""")..
3. Los caracteres de nueva línea separan el texto en varias líneas al imprimir la salida:

In [62]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

Cómo podemos ver nos hace saltos de linea, podemos hacerlo de otra forma. simplemente usando comillas triples y haciendo salto de linea
<br> Donde queremos.

In [63]:
multiline = """Facts about the Moon:
  There is no atmosphere.
  There is no sound."""
print(multiline)

Facts about the Moon:
  There is no atmosphere.
  There is no sound.

# Métodos string en Python
## Metodo `Title()`
* Los métodos de cadena forman parte del tipo str. al ser tratados como metodos, podemos hacer uso de las funciones que pertenezcan a las cadenas de texto.
    * Es decir: 'temperatures and facts about the moon'.`title()`
Y la salida se verá asi: <br> __'Temperatures And Facts About The Moon'__

In [64]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

* Lo mismo ocurre en una variable:

In [65]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

## Dividir una cadena `split()`
* Un método de cadena común es .split() . Sin argumentos, el método separará la cadena en cada espacio.
Se podra trabajar con su contenido.

In [66]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures.split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

Podemos utilizar el comando `\n` para separar las lineas de la siguiente Forma

In [67]:
temperatures.split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

## Buscar una cadena `in()`
* Además de usar un bucle, algunos métodos de cadena pueden buscar contenido antes del procesamiento, sin la necesidad de un bucle.
    * La forma más sencilla es usando el comando `in`

In [68]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

Nos retorna falso ya que no hay ninguna palabra Moon en el texto

In [69]:
'Moon' in 'This text will describe facts about the Moon'

True

Nos retorna True por que en este caso si se encuentra la palabra en el texto.

## Encontrar posicion exacta Metodo `find()`

In [1]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Moon')

-1

* El método .find() devuelve -1 un cuando no se encuentra la palabra o devuelve el índice (el número que representa el lugar en la cadena).

In [71]:
temperatures.find('Mars')

64

* 68 es la posición donde aparece en la cadena 'Mars'.

## Metodo para contar las veces que puede estar `count()`

In [72]:
temperatures.count('Mars')

1

* Como podemos ver  busca y encuentra 1 vez la palabra "Mars"

In [73]:
temperatures.count('Moon')

0

* Como podemos ver  busca y no encuentra la palabra "Moon" por lo tanto arroja 0

* Las cadenas en Python distinguen entre mayúsculas y minúsculas, lo que significa que Luna (Moon) y luna (moon) se consideran palabras.

## Metodo para convertir tu oración a minusculas `lower()`

Usamos este comando para convertir nuestra cadena de texto a minusculas.

In [74]:
"The Moon And The Earth".lower()

'the moon and the earth'

## Metodo para convertir tu oración a Mayusculas `lower()`

In [75]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

## Comprobar el contenido

Hay ocasiones en las que procesarás texto para extraer información, pero su presentación será compleja por ejemplo la siguiente cadena es sencilla  de procesar.

In [76]:
temperatures = 'Mars Average Temperature: -60 C'

Para extraer en este caso la temperatura de Mars lo que haríamos sería dividir la cadena dónde haya `:`

In [2]:
parts = temperatures.split(':')
parts

['Saturn has a daytime temperature of -170 degrees Celsius,\nwhile Mars has -28 Celsius.']

Ahora  que esta dividida podemos tratar nuestra cadena como una lista de elementos dónde tenemos:
1. 'Mars Average Temperature' 
2. ' -60 C'
La cadena se divide en cuanto encuentra :, lo que produce una lista de dos elementos. 
* Usando [-1] en la lista devuelve el último elemento, que en este caso es la temperatura.

In [78]:
parts[-1]
parts[-2]

'Mars Average Temperature'


* Si el texto es irregular, no puedes usar los mismos métodos de división para obtener el valor. 
<br> Debes iterar por todos los elementos y comprobar si los valores son de un tipo determinado.

## Metodo para saber si el valor es numerico `isnumeric()`
* Lo que hará es buscar, si en nuestra lista hay algun valor numerico.

In [79]:
mars_temperature = 'The highest temperature on Mars is about 30 C'
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

1. Declaramos nuestra variable.
2. Hacemos una iteracíon que por cada elemento en nuestra cadena
3. Si encuentra un elemnto de tipo numerico.
4. Imprime ese elemento.

## Metodo para saber si el valor comienza `startswith()`
* Confirma si lo que sea que buscas comienza con lo que tu quieras buscar.
    * Como por ejemplo en el siguiente bloque de codigo `.startswith('-')`

In [80]:
'-60'.startswith('-')

True

## Metodo para saber si el valor termina `.endswith()`
* Confirma si lo que sea que buscas terminha con lo que tu quieras buscar.
    * Como por ejemplo en el siguiente bloque de codigo `.endswith('C')`

In [81]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

## Transformar texto `replace()`
* Hasta ahora, hemos visto cadenas que pueden usar C para Celsius y F para Fahrenheit. Puedes utilizar el método .replace()
    * Por ejemplo encontraría el elemento que busca y lo puedes remplazar por lo que quieras.

In [82]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

### Mas con el metodo `lower()`
* Por ejemplo si no encontramos una cadena por que esta en mayusculas, lo que podemos hacer es convertir el texto todo a minusculas y ahora si realizar la busqueda.

In [83]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [84]:
'temperatures' in text.lower()

True

## Metodo usado para unir elementos`join()`
* Asi como el metodo split, el motodo `join` unirá elementos.

In [87]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

En este ejemplo, el carácter salto de línea `'\n'` (retorno de carro, newline) se utiliza para unir todos los elementos de la lista.

## Formato de cadenas en Python
* Formato con signo de porcentaje (%) 
1. Usamos `%s` en la posicíon del texto que queramos que aprezca, 
2. Al finalizar el texto debemos usar `%` fuera de la cadena seguido de la variable.
    * Veamos el siguiente ejemplo.

In [88]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

* El uso de múltiples valores cambia la sintaxis, ya que requiere paréntesis para rodear las variables vamos a pasar es decir:
1. Ponemos `%s` en la posicion del texto que quieras que las variables aparezcan(Ojo aparecen siempre en el orden declaradas)
2. Al cerrar la cadena usamos `%` abrimos parentesis y ponemos las palabras que decemos agregar.

In [89]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

Aunque este método sigue siendo una forma válida de dar formato a las cadenas y lo mejor es usar otro metodo, el metodo `format()`

## Metodo `format()` 
* El metodo format es usado para lo que deseemos agregar a nuestra cadena de texto sea más legible y evitar usar `%`.
* Utiliza llaves ({}) como marcadores de posición dentro de una cadena

In [90]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

* No es necesario asignar variables repetidas varias veces

In [91]:
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

* En lugar de llaves vacías, la sustitución es usar números. 
<br> Si queremos usar en el primer argumento {0} (índice de cero) en este caso Moon{0} sería con el método .format(). 
<br> Para la repetición simple {0} funciona bien, pero reduce la legibilidad.

* Se pueden usar variables siguiendo el metodo format lo cual permite que el codigo sea más legible.

In [92]:
print("""You are lighter on the {moon}, because on the {moon} 
... you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

#### Acerca de las cadenas con f
* A partir de la versión 3.6 de Python, es posible usar f-strings. 
<br> Estas cadenas parecen plantillas con las mismas variables con nombre que las del código. Por ejemplo:

In [93]:
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

Esto simplifica aun más nuestro codigo, sin necesidad de agregar nada y usar las variables directamente.

## Metodo `format()` 
* Por ejemplo, si deseas representar el valor 1/6 como un porcentaje con un decimal, puede utilizar la función round()

In [1]:
round(100/6, 2)
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

* Ene este caso el numero seguido de la coma será los decimales que acepte

In [2]:
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'